#!/bin/sh

# Goes through all jpeg files in current directory, grabs date from each
# and sorts them into subdirectories according to the date
# Creates subdirectories corresponding to the dates as necessary.

cd {{ nfs_export_path }}/{{ item }}/Pictures
mkdir -p {{ nfs_export_path }}/{{ item }}/PicDate

for fil in *.JPG
do
    datepath="$(identify -verbose "$fil" | grep DateTimeOri | awk '{print $2 }' | sed s%:%/%g)"
    echo "Link $fil"
    ln "$fil" "{{ nfs_export_path }}/{{ item }}/PicDate/$datepath-$fil"
done

for fil in *.JPEG
do
    datepath="$(identify -verbose "$fil" | grep DateTimeOri | awk '{print $2 }' | sed s%:%/%g)"
    echo "Link $fil"
    ln "$fil" "{{ nfs_export_path }}/{{ item }}/PicDate/$datepath-$fil"
done

for fil in *.jpg  # Also try *.JPG
do
    datepath="$(identify -verbose "$fil" | grep DateTimeOri | awk '{print $2 }' | sed s%:%/%g)"
    echo "Link $fil"
    ln "$fil" "{{ nfs_export_path }}/{{ item }}/PicDate/$datepath-$fil"
done

for fil in *.jpeg  # Also try *.JPG
do
    datepath="$(identify -verbose "$fil" | grep DateTimeOri | awk '{print $2 }' | sed s%:%/%g)"
    echo "Link $fil"
    ln "$fil" "{{ nfs_export_path }}/{{ item }}/PicDate/$datepath-$fil"
done
