Vagrant.configure("2") do |config|

  # Virtualbox
  config.vm.box = "debian/stretch64"

  # Adding my key in the VM.
  config.vm.provision "shell" do |s|
    ssh_pub_key = File.readlines("#{Dir.home}/.ssh/id_rsa.pub").first.strip
    s.inline = <<-SHELL
      echo #{ssh_pub_key} >> /home/vagrant/.ssh/authorized_keys
    SHELL
  end

  ## Using Ansible
  #config.vm.provision "ansible" do |ansible|
  #  ansible.playbook = "kafka.yml"
  #end
{% for host in hosts %}
  config.vm.define "{{ host }}" do |{{ host }}|

    {{ host }}.vm.hostname = '{{ hosts[host].hostname }}'
    {{ host }}.vm.provider "virtualbox" do |vb|
      vb.gui = false
      vb.memory = "2048"
    end

    {{ host }}.vm.network :private_network, ip: "{{ hosts[host].ip }}"

    # Set specific SSH port
    #{{ host }}.ssh.guest_port = "{{ hosts[host].guestport }}"
    #{{ host }}.vm.network :forwarded_port, guest: 22, host: {{ hosts[host].guestport }}, id: 'ssh'

  end
{% endfor %}
end