[Unit]
Requires=zookeeper.service
After=zookeeper.service

[Service]
Type=simple
User=kafka
ExecStart=/bin/sh -c '/soft/kafka/bin/kafka-server-start.sh /soft/kafka/config/server.properties >> /soft/kafka/logs/kafka.log 2>&1'
ExecStop=/soft/kafka/bin/kafka-server-stop.sh
Restart=on-abnormal

[Install]
WantedBy=multi-user.target