# ID
broker.id={{ id }}
broker.rack={{ rack }}
# Listener (no SSL for this test)
listeners=PLAINTEXT://0.0.0.0:9092
advertised.listeners=PLAINTEXT://{{ fqdn }}:9092
# Perf settings
num.network.threads=3
num.io.threads=8
socket.send.buffer.bytes=102400
socket.receive.buffer.bytes=102400
socket.request.max.bytes=104857600
offsets.topic.replication.factor={{ replications }}
transaction.state.log.replication.factor={{ replications }}
transaction.state.log.min.isr={{ replications }}
# Replications: everything kept twice, 2 partitions to start with
default.replication.factor={{ replications + 1 }}
num.partitions={{ partitions }}
num.recovery.threads.per.data.dir=4
min.insync.replicas={{ replications }}
auto.leader.rebalance.enable=True
leader.imbalance.check.interval.seconds=300
leader.imbalance.per.broker.percentage=10
unclean.leader.election.enable=False
# Topics: auto for testing
auto.create.topics.enable=True
delete.topic.enable=True
# Messages retention: location, how long too keep, ...
log.dirs={{ log_dir }}
log.retention.hours=1
log.segment.bytes=1073741824
log.retention.check.interval.ms=300000
# Zookeeper
zookeeper.connect={% for host in zookeeper.hosts %}{{ host }}:2181{% if loop.index != loop.length %},{% endif %}{% endfor %}

zookeeper.connection.timeout.ms=18000
group.initial.rebalance.delay.ms=0
